:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

$content-padding: 1.75rem;

header {
  background: #FFFFFE;
  // padding: $content-padding;
}

main {
  align-self: stretch;
  flex: 1;
  // padding: $content-padding;
  background-color: #FFFFFE;
  // max-height: calc(100vh - 44px);
  // overflow-y: scroll;
}

.container-width-md {
  max-width: 720px;
}

.container-width-lg {
  max-width: 960px;
}
