// fonts
//

.font-family-alt {
  font-family: "Roboto Slab";
}

.font-size-sm {
  font-size: calc(#{$font-size-base} - 2px) !important;
}

.font-size-xs {
  font-size: calc(#{$font-size-base} - 4px) !important;
}

.font-size-xxs {
  font-size: calc(#{$font-size-base} - 6px) !important;
}

.font-size-xxxs {
  font-size: calc(#{$font-size-base} - 8px) !important;
}


.font-size-normal {
  font-size: $font-size-base !important; // font size = 16px
}

.font-size-larger {
  font-size: $font-size-base * 1.125 !important; // font size = 18px
}

.font-size-bigger {
  font-size: $font-size-base * 1.25 !important; // font size = 20px
}

.font-size-xl {
  font-size: $font-size-base * 1.5 !important; // font size = 24px
}

.font-size-xxl {
  font-size: $font-size-base * 2 !important; // font size = 32px
}

// text
//

.no-underline {
  text-decoration: none !important;
}

.trim-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// size
//

.line-height-base {
  line-height: #{$line-height-base}rem !important;
}

// colors
// (text colors)
//

.text-disabled {
  color: #CCCCCC;
}

.bg-lighter {
  background-color: $gray-300;
}

.bg-placeholder {
  background-color: $gray-300;
}

.bg-placeholder-alt {
  background-color: darken($gray-300, 5);
}

// flex helpers
//

flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-3 {
  flex-grow: 3;
}

.flex-shrink-0 {
  align-self: stretch;
  flex-shrink: 0;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

// row helpers
//

// .row.row-gap {
//   margin-left: -50px;
//   margin-right: -50px;
// }

// .col.col-gap {
//   padding-left: 50px;
//   padding-right: 50px;
// }

// buttons
//

.btn-clear {
  background: transparent !important;
  border: none !important;
}

.btn-min {
  min-width: 6.25rem; // 100px
}

.no-shadow {
  box-shadow: none !important;
}

// overflow
//

.overflow-y {
  overflow-y: auto;
}

.overflow-y-none {
  overflow-y: unset !important;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

// containers and double gutters
//

.container-offset-double {
  padding-left: $side-gutter-double;
  padding-right: $side-gutter-double;
}

.col-offset-double {
  padding-left: $side-gutter-double;
  padding-right: $side-gutter-double;
}

.row-offset-double {
  margin-left: -#{$side-gutter-double};
  margin-right: -#{$side-gutter-double};
}

.full-page-main {
  min-height: calc(100vh - #{$app-navigation-height});
}

.content-top-gap {
  margin-top: $content-top-gap;
}

.content-bottom-gap {
  margin-top: $content-top-gap;
}

// borders
//

.form-control.border-right-rounded-0,
.border-right-rounded-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.border-left-rounded-0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.border-bottom-only {
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
}

.border-right-only {
  border-bottom: none !important;
  border-left: none !important;
  border-top: none !important;
}

.border-top-only {
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
}

.border-top-0 {
  border-top: none !important
}

.border-right-0 {
  border-right: none !important
}

.border-bottom-0 {
  border-bottom: none !important
}

.border-left-0 {
  border-left: none !important
}

// positioning
// should define mixins

.position-right {
  right: 0;
}

// placeholders for uploads
//

@mixin placeholder-cue($color) {
  border-style: dashed !important;
  border-width: 2px !important;
  border-color: $color;
  transition: all .3s ease;
}

.placeholder-started-cue {
  @include placeholder-cue($gray-500);
}

.placeholder-hint-cue {
  @include placeholder-cue($primary);
  box-shadow: inset 0 0 4rem $gray-200;
}

// print helpers
//

.print-page-break-after {
  page-break-after: always;
}

@media print {
  .print-page-gap {
    padding-left: 1.5cm;
    padding-right: 1.5cm;
  }

  .print-bg-white {
    background: white;
  }

}

// cursor/hover helper/s
//

.cursor-help {
  &:hover {
    cursor: help;
  }
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

// special paddings
//

// TEMPORARY until we fix the variables
// horizontal input padding
.p-y-input {
  padding-left: $input-padding-y !important;
  padding-right: $input-padding-y !important;
}
