.expense {
  h5 {
    font-size: 15px;
  }

  .expense-item {
    min-height: 3rem;

    .list-item::before {
      position: absolute;
      left: 0px;
      display: inline-block;
      padding-right: 4px;
      content: '\002D';
    }
  }
}